* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --preferred-font: 'Helvetica';
    --nav-colour: rgb(30, 124, 30);
    --corner-radius: 10px;
    --maximum-width: 650px;
    --star-Wars: 'Star Jedi';
}

body {
    background-color: black;
}

.pageContainer {

    position: relative;
    margin: 5vh auto 0 auto;
    background-color: white;
    width: 90svw;
    height: 90svh;
    border-radius: var(--corner-radius);
    max-width: var(--maximum-width);
}

.navSection {
    background-color: var(--nav-colour);
    display: flex;
    justify-content: space-between;
    height: 100px;
    border-top-left-radius: var(--corner-radius);
    border-top-right-radius: var(--corner-radius);
}

.cookieCounter {
    display: flex;
}

.imageWrapper {

    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgCookie {

    margin-left: 20px;
    width: 70%;
    height: 70%;
    background-color: var(--nav-colour);
}

.cookieCounterTextMultiplier {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    color: white;
    font-family: var(--preferred-font);
    text-align: right;
    padding-top: 10px;
    margin-left: 10px;
}

.cookieCounterText {
    font-family: var(--preferred-font);
    justify-self: center;
    align-self: center;
    color: white;
    font-size: 30pt;
}

.timerCounter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.countdownTimer {
    height: 100px;
    width: 80px;
}

.countdownTime {
    position: relative;
    left: -50%;
    font-family: var(--preferred-font);
    font-size: 14pt;
    color: white;

}


.smodes, .cookie {
    height: 40px;
    width: 40px;

}

.smodes {
    position: absolute;
    background-color: green;
    border-radius: 50%;
}

.cookie {
    position: absolute;
    background-color: brown;
    border-radius: 50%;
    z-index: 100;
}

.gameMap {
    height: 80%;
    width: 100%;
    position: relative;
}

.hidden {
    position: absolute;
    visibility: hidden;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



.cookieInstructionContainer {
    position: absolute;
    background-image: url("images/ferrorRocher.jpg ");
    background-size: contain;
    background-repeat: repeat;
    filter: blendTrans(20%);
    z-index: 100;
    width: 90%;
    height: 90%;
    border-bottom-left-radius: var(--corner-radius);
    border-bottom-right-radius: var(--corner-radius);
    max-width: var(--maximum-width);
}


.cookieInstruction {
    height: 90vh;
    width: 100%;
    position: relative;
    top: -5%;
    object-fit: fill;
    filter: brightness(80%);
    border-bottom-left-radius: var(--corner-radius);
    border-bottom-right-radius: var(--corner-radius);

}


.gameOutcome {
    margin-top: 5vh;
    position: absolute;
    height: 90vh;
    width: 90%;
    z-index: 100;
    background-color: forestgreen;
    border-radius: var(--corner-radius);
    display: flex;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: var(--maximum-width);
    margin-bottom: 20%;

}


.stars {
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    column-gap: 10px;
    margin-top: 5vh;


}

.star {
    height: 80px;
    width: 80px;
}

.starPlus {
    height: calc(100px * 1.1);
    width: calc(100px * 1.1);
    position: relative;
    bottom: 15%;
    color: white;

}

.smodesTitleOutcome {
    font-family: var(--star-Wars);
    color: white;
    margin: 1em auto;
    font-size: 24pt;
    text-align: center;
    line-height: 1.1em;
}

.imageOutcomeContainer {

    height: 90%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageOutcome {
    height: 175px;
    width: 175px;

}



.outcomeText {
    margin-top: 20px;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.paragraphClass {
    color: white;
    line-height: 1.5rem;
    text-align: justify;
    font-family: var(--preferred-font);
}
.replay {

    margin-top: 60px;
    margin-bottom: 40px;
    color: white;
    font-family: var(--preferred-font);
    font-size: 20pt;
}

/* Animation */

.activePopOut {
    animation: activePopOut 1s infinite linear;
}

@keyframes activePopOut {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}